@model WebBanThucAnNhanh.Models.Theme
@{
    ViewData["Title"] = "Quản lý người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; // Trỏ về layout admin mới tạo
}
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Theme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameTheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTheme)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTheme">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
